<h1>Recent Questions</h1><br>


    <% @questions.each do |question| %>
      
      
      <div class="panel panel-primary">
        <div class="panel-heading"><strong>
          <%= link_to question.content, question %>
        </strong></div>
        <div class="panel-body"><%= question.description %></div>
        <div class="panel-footer">from <%= question.user.username %> on <%= question.created_at.strftime("%m/%d/%Y") %></div>
      </div>
      
      
    <% end %>


<br>


<button type="button" class="btn btn-success"><%= link_to 'Ask A Question', new_question_path %></button>
