<div class="panel panel-primary">
        <div class="panel-heading"><strong>
          
        <%= @question.content %>
        </strong></div>
        <div class="panel-body"><%= @question.description %></div>
        <div class="panel-footer">from <%= @question.user.username %> on <%= @question.created_at.strftime("%m/%d/%Y") %>
        
        <% if @question.user_id == current_user %>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fa fa-cog'></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Edit', edit_question_path(@question) %></li>
                    <li><%= link_to 'Delete', @question, method: :delete, data: {confirm: 'Are you sure?'  } %></li>
                    <li><%= link_to 'New comment', new_question_comment_path(@question) %></li>
                  </ul>
          </div>
          <% else %>
          <button type="button" class="btn btn-success"><%= link_to 'Answer', new_question_comment_path(@question) %></button>
          <% end %>
</div>
      </div>

<h3>Answers</h3>
<% @question.comments.each do |c| %>
  
  <div class="panel panel-primary">
  <div class="panel-heading"><strong>
      RE: <%= @question.content %>
  </strong></div>
  <div class="panel-body"><%=h c.body %></div>
  <div class="panel-footer">from <%=h c.commenter %> on <%= c.created_at.strftime("%m/%d/%Y") %>

        <% if current_user.username == c.commenter %>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class='fa fa-cog'></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Delete', @comment, method: :delete, data: {confirm: 'Are you sure?'  } %></li>
                  </ul>
          </div>
        <% else %>
                <!--Upvote-->
        <% end %>
        </div>
        </div>
<% end %>

