<div class="panel panel-primary">
        <div class="panel-heading"><strong>
          
        <%= @question.content %>
        </strong></div>
        <div class="panel-body"><%= @question.description %></div>
        <div class="panel-footer">from <%= @question.user.username %> on <%= @question.created_at.strftime("%m/%d/%Y") %></div>
      </div>
      
<% if current_user%>
        <%= link_to 'Edit', edit_question_path(@question) %>
        <%= link_to 'Delete', @question, method: :delete, data: {confirm: 'Are you sure?'  } %>
        <%= link_to 'New comment', new_question_comment_path(@question) %>
<% else %>
        <%= link_to 'New comment', new_question_comment_path(@question) %>
<% end %>

<!--<div class="panel panel-primary">-->
<!--        <div class="panel-heading"><strong>-->
          
<!--        "RE: " @comment.question %>-->
<!--        </strong></div>-->
<!--        <div class="panel-body"> @comment.body %></div>-->
<!--        <div class="panel-footer">from  @comment.user.username %> on  @comment.created_at.strftime("%m/%d/%Y") %></div>-->
<!--      </div>-->


