<p id="notice"><%= notice %></p>

<% @comments.each do |comment| %>
<div class="panel panel-primary">
        <div class="panel-heading">RE: <%= @question %><strong>
          
        
        </strong></div>
        <div class="panel-body"><%= comment.body %></div>
        <div class="panel-footer">from <%= @comment.user.username %> on <%= @comment.created_at.strftime("%m/%d/%Y") %></div>
      </div>
      
<% if current_user%>
        <%= link_to 'Show', comment %>
        <%= link_to 'Edit', edit_comment_path(comment) %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Back to Question', @question %>
<% else %>
        <%= link_to 'New comment', new_question_comment_path(@question) %>
        <%= link_to 'Back to Question', @question %>
<% end %>



<table>
  

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.question %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>

<h1>Comments for <%= @question %></h1>

<table>
  <tr>
    <th>Body</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.body %></td>
    <td><%= link_to 'Show', post_comment_path(@post, comment) %></td>
    <td>
        <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    </td>
    <td>
        <%= link_to 'Destroy', post_comment_path(@post, comment),
            :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New comment', new_post_comment_path(@question) %>
<%= link_to 'Back to Post', @question %>
