<p id="notice"><%= notice %></p>

<h1>Comment on <%= @question %></h1>

<p>
  <b>Commenter:</b>
  <%=h @comment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%=h @comment.body %>
</p>

<%= link_to 'Edit', edit_question_comment_path(@question, @comment) %> |
<%= link_to 'Back', question_comments_path(@question) %>